#disqus_thread {
    font: normal 16px segoe ui !important;  
}
body{  
    color: whitesmoke;
    font: normal 16px segoe ui;
    background-color: #1a1a1a;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    height: 100%;
    position: relative;
    align-content: center;
    max-width: 880px;
}
#li.tab-community{
    display: none !important;
}
#span.notification-icon.icon-comment{
    display: none;
}
.publisher-anchor-color a {
    color: rgb(1, 149, 255);
}
a {
    color: #288ce4;
}